---
layout: compress
---
@charset "UTF-8";
/* lexend-deca-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lexend-deca-v21-latin-regular.woff2') format('woff2');
}
/* lexend-deca-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/lexend-deca-v21-latin-700.woff2') format('woff2');
}
/* lexend-deca-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/lexend-deca-v21-latin-900.woff2') format('woff2');
}
/* dm-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/dm-sans-v15-latin-regular.woff2') format('woff2');
}
/* dm-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/dm-sans-v15-latin-700.woff2') format('woff2');
}

{% include css/universales.css %}
{% include css/home.css %}
{% include css/galeria.css %}
{% include css/youtube.css %}
{% include css/comparacion.css %}
{% include css/buscador.css %}
{% include css/landing.css %}
{% include css/up.css %}
{% include css/blog.css %}
{% include css/share.css %}
{% include css/queries.css %}
{% include css/pages.css %}
{% include css/contador.css %}


