---
layout: main
lang: en
ref: home
title: "Aesthetic Medicine Clinic in Bogotá | Dr. Tatiana Leal"
description: "Aesthetic Medicine Clinic specialized in facial and body rejuvenation in Bogotá. +3,500 successful procedures support our experience."
h1: "Colombian specialist in aesthetic and laser medicine"
subtitle: "Dr. Tatiana Leal Sandoval"
canonical_url: "https://dratatianaleal.com/en/"
---
<section class="block_section">
  <small class="block_section_header">Our aesthetic medicine center</small>
  <h2 class="block_section_title">Why choose our aesthetic medicine center?</h2>
  <p class="block_section_content">
    At Tatiana Leal Aesthetic and Laser Medicine, we are a group of professionals prepared to offer high-quality standards in both facial and body treatments, to improve the physical appearance and quality of life of our patients. Our main objective: to enhance the beauty of our patients while caring for their health.
    <a href="#" class="boton boton_auxiliar">Meet our team</a>
  </p>
  <img class="block_section_image_left" loading="lazy" title="Doctora Tatiana Leal en su consultorio" src="{{'img/tatiana-leal-medicina-laser-1024.avif' | relative_url}}" alt="Consultorio de la doctora Tatiana Leal en Bogotá" decoding="async" width="656" height="656">
  <div class="block_section_knowledge flow padding">
    <h3>Knowledge</h3>
    <p>Our director, Dr. Tatiana Leal, a specialist in Aesthetic and Laser Medicine from Universidad del Rosario, has the scientific background and has been practicing aesthetic medicine since 2009.</p>
    <h3>At the forefront</h3>
    <p>In addition, she is constantly updating her academic knowledge to provide the latest global trends in facial and body treatments.</p>
  </div>
  <img class="block_section_image_right" loading="eager" title="Doctora Tatiana Leal en su consultorio" src="{{'img/tatiana-leal-doctora-708.avif' | relative_url}}" alt="Consultorio de la doctora Tatiana Leal en Bogotá" decoding="async" width="640" height="1056">
</section>
<main class="padding flow">
  <div class="intro flow">
    <small>Aesthetic treatments and procedures</small>
    <h2>Get your professional treatment at Tatiana Leal's aesthetic medicine center</h2>
    {% include boton.html %}
  </div>
  <h3>Corporals treatments</h3>
  <p>Reducing, toning, vein-reducing body treatments, etc.; They are treatments carried out with the highest technology available in all of Colombia. You find it at the<strong>Dr. Tatiana Leal Aesthetic Medicine Center</strong>.</p>
  {% include gallery.html data_file="tratamientos_home" row="first-row" %}
  <h3>Facial treatments</h3>
  <p>Rejuvenate with our non-invasive facial treatments in Bogotá. Laser rejuvenation, biorevitalization, fillers and more. Natural results guaranteed by Dr. Tatiana Leal's team.</p>
  {% include gallery.html data_file="tratamientos_home" row="second-row" %}
  <h3>intimate treatments</h3>
  <p>Your intimate area also needs treatments for its health and beauty. You can protect and improve your confidence with non-invasive and non-painful procedures, all performed with the <strong>professional team of Dr. Tatiana Leal</strong>.</p>
  {% include gallery.html data_file="tratamientos_home" row="third-row" %}
</main>
<section class="bloque_doble seccion padding">
  <div class="cta">
    <div class="video-container">
      <div class="video-placeholder" data-video-id="HbCCaNRu1Hk">
        <img src="https://img.youtube.com/vi/HbCCaNRu1Hk/maxresdefault.jpg" alt="Video thumbnail" class="thumbnail">
        <button class="play-button">
          <svg class="play-icon" viewBox="0 0 24 24">
            <path d="M8 5v14l11-7z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="intro">
    <small>Safety and peace of mind for you</small>
    <h2>Get your treatment at Dr. Tatiana Leal's aesthetic center</h2>
    <p>All the treatments we perform are under aesthetic medicine standards and are carried out by specialized professionals. The beauty and health of the patient is our main objective.</p>
    {% include boton.html %}
  </div>
</section>
<section class="bloque_doble padding">
  <div class="flow">
    <small>Contact us</small>
    <h2>Visit our aesthetic medicine center</h2>
    <p>We would love to answer your questions and attend to your requests. <strong>Write to us, visit us, or call us. Here is the information for our aesthetic center</strong>:</p>
    <ul>
      <li><b>Address:</b> {{site.direccion}}.</li>
      <li><b>Our email:</b> {{site.email}}</li>
    </ul>
    {% include boton.html %}
    <a href="tel:{{site.telefono}}" class="boton boton_auxiliar" id="lead_whatsapp" target="_blank" title="Tatiana Leal's Phone">Call us: {{site.telefono}}</a>
  </div>
  <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15905.689668573152!2d-74.0692314!3d4.6964387!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9adb267cf905%3A0x16bf4f9ee9fe9b6f!2sDra.%20Tatiana%20Leal!5e0!3m2!1ses-419!2sco!4v1726440307122!5m2!1ses-419!2sco" width="100%" height="450" style="border:0; border-radius: 20px; box-shadow: var(--shadow);" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>