.hero {
  position: relative;
  min-height: clamp(50vh, 70vh, 80vh);
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.hero-images {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.hero-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.hero-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.hero-image-1 {
  opacity: 1;
  z-index: 1;
  transition: opacity 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero-image-2 {
  opacity: 0;
  z-index: 0;
  transition: opacity 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero:hover .hero-image-1 {
  opacity: 0;
}

.hero:hover .hero-image-2 {
  opacity: 1;
}

.bg1, .bg2 {
  transition: opacity 0.5s ease-in-out;
}

.bg1 {
  opacity: 1;
}

.bg2 {
  opacity: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
  width: 100%;
  color: #ffffff;
  padding: clamp(2rem, 5%, 3rem);
  background: rgba(0, 46, 81, 0.7);
  margin-top: auto;
  & .icons {
    max-width: 180px;
    & p {
      font-size: 0.875rem;
    }
  }
}

.full-width-header,
.block-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 50vh;
}
