{% assign current_lang = page.lang | default: site.default_lang | default: "es" %}
<nav id="breadcrumbs" aria-label="breadcrumb">
  <ul class="small">
    <li><a href="{{ '/' | append: current_lang | append: '/' | relative_url }}" title="{% if current_lang == 'es' %}Inicio dratatianaleal.com{% else %}Home dratatianaleal.com{% endif %}">{% if current_lang == 'es' %}Inicio{% else %}Home{% endif %}</a></li>
    {% if page.url contains '/blog/' %}
      <li><a href="{{ current_lang | append: '/blog/' | relative_url }}" title="{% if current_lang == 'es' %}Blog dratatianaleal.com{% else %}dratatianaleal.com's blog{% endif %}">Blog</a></li>
    {% endif %}
    <li>{{ page.h1 }}</li>
  </ul>
</nav>