<div class="container">
  <div class="grid">
    <div class="counter">
      <div class="number" id="patients">0</div>
      <div class="label">Pacientes</div>
    </div>
    <div class="counter">
      <div class="number" id="years">0</div>
      <div class="label">Años</div>
    </div>
    <div class="counter">
      <div class="number" id="professionals">0</div>
      <div class="label">Profesionales</div>
    </div>
    <div class="counter">
      <div class="number" id="procedures">0</div>
      <div class="label">Procedimientos</div>
    </div>
  </div>
</div>