{% assign lang = page.lang | default: site.lang | default: "es" %}
{% assign data_file = include.data_file %}
{% assign row_key = include.row %}
{% assign treatments = site.data[lang][data_file][row_key] %}
<div class="gallery-container">
  {% for item in treatments limit:4 %}
    <a href="{{item.url | relative_url }}" class="gallery-item gallery-item-home" >
      <img src="{{ item.img | relative_url }}" alt="{{ item.alt }}" loading="lazy" width="332" height="442" decoding="async" >
      <h4 class="gallery-item-text">{{ item.title }}</h4>
    </a>
  {% endfor %}
</div>
  