<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description | escape }}">
  <!-- <meta name="author" content="{{ site.author }}"> -->
  <meta name="robots" content="index, follow">
  <meta name="theme-color" content="#ffffff">
  <title>{{ page.title | default: site.title }}</title>
  
  <!-- Open Graph Meta Tags (Facebook, WhatsApp) -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ page.excerpt | default: site.description | escape }}">
  <meta property="og:image" content="{{ site.url }}/img/favicon/apple-touch-icon.png">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
  <meta name="twitter:description" content="{{ page.excerpt | default: site.description | escape }}">
  <meta name="twitter:image" content="{{ site.url }}/img/favicon/apple-touch-icon.png">
  
  <!-- Canonical URL con absolute_url -->
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  
  <!-- Favicon con absolute_url para garantizar rutas absolutas -->
  <link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{ site.url }}/assets/images/favicon/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/assets/images/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/assets/images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/assets/images/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/assets/images/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/assets/images/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/assets/images/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/assets/images/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/images/favicon/apple-touch-icon-180x180.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  
  <!-- Styles con rutas absolutas para evitar problemas en idiomas -->
  <link rel="preload" href="{{ site.url }}/assets/css/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
</head>