{% assign layout = page.layout %}
{% case layout %}
{% when "main" %}
<header class="home_header">
  <div class="cta-container padding flow">
    <h1>{{page.h1}}</h1>
    <p>{{page.subtitle}}</p>
    <p>{{page.description}}</p>
    {% include boton.html %}
  </div>
  <div class="image-container">
    <picture>
      <source media="(max-width: 559px)" srcset="{{'img/tatiana-leal-medicina-estetica.avif' | relative_url}}"
        sizes="100vw">
      <source media="(max-width: 992px)" srcset="{{'img/tatiana-leal-medicina-estetica-640.avif' | relative_url}}"
        sizes="640px">
      <source media="(max-width: 1439px)" srcset="{{'img/tatiana-leal-medicina-estetica-720.avif' | relative_url}}"
        sizes="720px">
      <source media="(min-width: 1440px)" srcset="{{'img/tatiana-leal-medicina-estetica-960.avif' | relative_url}}"
        sizes="960px">
      <img src="{{'img/tatiana-leal-medicina-estetica-1024.avif' | relative_url}}"
        alt="{% if page.lang == 'es' %}Centro Estético Doctora Tatiana Leal{% else %}Dr. Tatiana Leal Beauty Center{% endif %}"
        width="960" height="540" loading="eager" fetchpriority="high" decoding="async">
    </picture>
  </div>
</header>
{% when "corporate" %}
<header class="intro flow padding">
  <h1>{{page.h1}}</h1>
  <p>{{page.description}}</p>
</header>
<section class="parallax padding {{page.parallax}}">
  <div class="parallax_copy intro flow">
    <h2>{{page.title}}</h2>
    {% include boton.html %}
  </div>
</section>

{% when "post" %}
<header class="intro flow padding">
  <h1>{% if page.h1 %}{{ page.h1 }}{% else %}{{ page.title }}{% endif %}</h1>
  <figure>
    <img src="{{page.jpg|relative_url}}" alt="{{page.title}}" loading="eager" width="1200" height="680"
      class="hero_post-image">
    <figcaption>{{page.excerpt}}</figcaption>
  </figure>
</header>

{% when "servicios" %}
<header class="hero">
  <div class="hero-images">
    <picture class="hero-image hero-image-1 bg1">
      <source media="(max-width: 559px)" type="image/avif"
        srcset="{{ page.hero | replace: '.avif', '-440.avif' | relative_url }}" sizes="100vw">
      <source media="(max-width: 992px)" type="image/avif"
        srcset="{{ page.hero | replace: '.avif', '-768.avif' | relative_url }}" sizes="768px">
      <source media="(max-width: 1439px)" type="image/avif"
        srcset="{{ page.hero | replace: '.avif', '-1024.avif' | relative_url }}" sizes="1024px">
      <source media="(min-width: 1440px)" type="image/avif" srcset="{{ page.hero | relative_url }}" sizes="1920px">

      <img src="{{ page.hero | replace: '.avif', '-1024.avif' | relative_url }}"
       alt="{{ page.alt }}"
       width="1920"
       height="1080"
       loading="eager"
       fetchpriority="high"
       decoding="async">
    </picture>

    <picture class="hero-image hero-image-2 bg2">
      <source media="(max-width: 559px)" type="image/avif"
        srcset="{{ page.hero1 | replace: '.avif', '-440.avif' | relative_url }}" sizes="100vw">
      <source media="(max-width: 992px)" type="image/avif"
        srcset="{{ page.hero1 | replace: '.avif', '-768.avif' | relative_url }}" sizes="768px">
      <source media="(max-width: 1439px)" type="image/avif"
        srcset="{{ page.hero1 | replace: '.avif', '-1024.avif' | relative_url }}" sizes="1024px">
      <source media="(min-width: 1440px)" type="image/avif" srcset="{{ page.hero1 | relative_url }}" sizes="1920px">

      <img src="{{ page.hero | replace: '.avif', '-1024.avif' | relative_url }}"
       alt="{{ page.alt }}"
       width="1920"
       height="1080"
       loading="eager"
       fetchpriority="high"
       decoding="async">
    </picture>
  </div>

  <div class="two_columns hero-content flow">
    <div class="flow">
      <h1>{{ page.h1 }}</h1>
      <p>{{ page.description }}</p>
      {% include boton.html %}
    </div>
    <div class="three_columns">
      <div class="flow icons">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none" stroke="#EEE" viewBox="0 0 24 24">
          <g stroke="#fefefe" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
            <g opacity=".4">
              <path
                d="M9.5 13.75c0 .97.75 1.75 1.67 1.75h1.88c.8 0 1.45-.68 1.45-1.53 0-.91-.4-1.24-.99-1.45l-3.01-1.05c-.59-.21-.99-.53-.99-1.45 0-.84.65-1.53 1.45-1.53h1.88c.92 0 1.67.78 1.67 1.75M12 7.5v9" />
            </g>
            <path d="M22 12c0 5.52-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2" />
            <path d="M17 3v4h4M22 2l-5 5" />
          </g>
        </svg>
        <p>{{page.bullet-point-1}}</p>
      </div>
      <div class="flow icons">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none" stroke="#eee" viewBox="0 0 24 24">
          <g fill="#fefefe">
            <path
              d="M19.716 20.362C21.143 19.585 22 18.587 22 17.5c0-1.152-.963-2.204-2.546-3C17.623 13.58 14.962 13 12 13c-2.962 0-5.623.58-7.454 1.5C2.963 15.296 2 16.348 2 17.5s.963 2.204 2.546 3C6.377 21.42 9.038 22 12 22c3.107 0 5.882-.637 7.716-1.638Z"
              opacity=".6" />
            <path fill-rule="evenodd" d="M9.25 4a2.75 2.75 0 1 1 5.5 0 2.75 2.75 0 0 1-5.5 0Z" clip-rule="evenodd" />
            <path
              d="m8.223 11.574-2.175-.725a1.532 1.532 0 0 1 .805-2.952l1.898.407.21.044a15 15 0 0 0 6.288-.044l1.897-.407a1.532 1.532 0 0 1 .806 2.952l-2.175.725c-.263.088-.394.132-.493.193a1 1 0 0 0-.466.986c.016.115.066.244.165.503l1.247 3.242a1.473 1.473 0 0 1-2.654 1.26L12 15l-1.576 2.757a1.473 1.473 0 0 1-2.654-1.26l1.247-3.241c.1-.259.149-.388.165-.503a1 1 0 0 0-.466-.986c-.099-.061-.23-.105-.493-.193Z" />
          </g>
        </svg>
        <p>{{page.bullet-point-2}}</p>
      </div>
      <div class="flow icons">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none" stroke="#eee" viewBox="0 0 24 24">
          <path fill="#fefefe"
            d="m8.962 19.379-.473.582.473-.582ZM12 5.574l-.548.512a.75.75 0 0 0 1.096 0L12 5.574Zm3.038 13.805.473.582-.473-.582ZM12 21v-.75.75Zm-2.566-2.204c-1.45-1.176-3.142-2.719-4.466-4.408-1.339-1.707-2.218-3.46-2.218-5.07h-1.5c0 2.117 1.13 4.202 2.537 5.996 1.422 1.813 3.21 3.436 4.702 4.647l.945-1.165ZM2.75 9.318c0-2.905 1.268-4.7 2.836-5.315 1.565-.613 3.754-.175 5.866 2.083l1.096-1.024c-2.388-2.554-5.199-3.36-7.509-2.456C2.732 3.51 1.25 5.992 1.25 9.318h1.5ZM15.51 19.96c1.493-1.211 3.281-2.834 4.703-4.647 1.407-1.794 2.537-3.879 2.537-5.997h-1.5c0 1.612-.88 3.364-2.218 5.071-1.324 1.689-3.016 3.232-4.466 4.408l.945 1.165Zm7.24-10.644c0-3.325-1.482-5.807-3.79-6.71-2.31-.905-5.12-.1-7.508 2.455l1.096 1.024c2.112-2.258 4.301-2.696 5.866-2.083 1.568.614 2.836 2.41 2.836 5.314h1.5ZM8.49 19.961c1.27 1.032 2.152 1.789 3.51 1.789v-1.5c-.723 0-1.173-.324-2.566-1.454l-.945 1.165Zm6.076-1.165c-1.393 1.13-1.843 1.454-2.566 1.454v1.5c1.358 0 2.24-.757 3.51-1.789l-.944-1.165Z"
            opacity=".5" />
          <path stroke="#fefefe" stroke-linecap="round" stroke-width="1.5" d="M18.5 9h-2m0 0h-2m2 0V7m0 2v2" />
        </svg>
        <p>{{page.bullet-point-3}}</p>
      </div>
    </div>
  </div>

</header>

{% else %}
<header class="hero">
  <div class="hero-images">
    <picture class="hero-image hero-image-1">
      <source type="image/avif" srcset="{{ page.hero | relative_url }}">
      <img src="{{ page.hero | relative_url | replace: '.avif', '.jpg' }}" alt="{{ page.hero_alt }}" width="1920"
        height="1080" loading="eager" fetchpriority="high" decoding="async">
    </picture>
    <picture class="hero-image hero-image-2">
      <source type="image/avif" srcset="{{ page.hero1 | relative_url }}">
      <img src="{{ page.hero1 | relative_url | replace: '.avif', '.jpg' }}" alt="{{ page.hero1_alt }}" width="1920"
        height="1080" loading="eager" decoding="async">

    </picture>
  </div>
  <div class="two_columns hero-content flow">
    <div class="flow">
      <h1>{{ page.h1 }}</h1>
      <p>{{ page.description }}</p>
      {% include boton.html %}
    </div>
    <div class="three_columns">
      <div class="flow icons">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none" stroke="#EEE" viewBox="0 0 24 24">
          <g stroke="#fefefe" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
            <g opacity=".4">
              <path
                d="M9.5 13.75c0 .97.75 1.75 1.67 1.75h1.88c.8 0 1.45-.68 1.45-1.53 0-.91-.4-1.24-.99-1.45l-3.01-1.05c-.59-.21-.99-.53-.99-1.45 0-.84.65-1.53 1.45-1.53h1.88c.92 0 1.67.78 1.67 1.75M12 7.5v9" />
            </g>
            <path d="M22 12c0 5.52-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2" />
            <path d="M17 3v4h4M22 2l-5 5" />
          </g>
        </svg>
        <p>{{page.bullet-point-1}}</p>
      </div>
      <div class="flow icons">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none" stroke="#eee" viewBox="0 0 24 24">
          <g fill="#fefefe">
            <path
              d="M19.716 20.362C21.143 19.585 22 18.587 22 17.5c0-1.152-.963-2.204-2.546-3C17.623 13.58 14.962 13 12 13c-2.962 0-5.623.58-7.454 1.5C2.963 15.296 2 16.348 2 17.5s.963 2.204 2.546 3C6.377 21.42 9.038 22 12 22c3.107 0 5.882-.637 7.716-1.638Z"
              opacity=".6" />
            <path fill-rule="evenodd" d="M9.25 4a2.75 2.75 0 1 1 5.5 0 2.75 2.75 0 0 1-5.5 0Z" clip-rule="evenodd" />
            <path
              d="m8.223 11.574-2.175-.725a1.532 1.532 0 0 1 .805-2.952l1.898.407.21.044a15 15 0 0 0 6.288-.044l1.897-.407a1.532 1.532 0 0 1 .806 2.952l-2.175.725c-.263.088-.394.132-.493.193a1 1 0 0 0-.466.986c.016.115.066.244.165.503l1.247 3.242a1.473 1.473 0 0 1-2.654 1.26L12 15l-1.576 2.757a1.473 1.473 0 0 1-2.654-1.26l1.247-3.241c.1-.259.149-.388.165-.503a1 1 0 0 0-.466-.986c-.099-.061-.23-.105-.493-.193Z" />
          </g>
        </svg>
        <p>{{page.bullet-point-2}}</p>
      </div>
      <div class="flow icons">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none" stroke="#eee" viewBox="0 0 24 24">
          <path fill="#fefefe"
            d="m8.962 19.379-.473.582.473-.582ZM12 5.574l-.548.512a.75.75 0 0 0 1.096 0L12 5.574Zm3.038 13.805.473.582-.473-.582ZM12 21v-.75.75Zm-2.566-2.204c-1.45-1.176-3.142-2.719-4.466-4.408-1.339-1.707-2.218-3.46-2.218-5.07h-1.5c0 2.117 1.13 4.202 2.537 5.996 1.422 1.813 3.21 3.436 4.702 4.647l.945-1.165ZM2.75 9.318c0-2.905 1.268-4.7 2.836-5.315 1.565-.613 3.754-.175 5.866 2.083l1.096-1.024c-2.388-2.554-5.199-3.36-7.509-2.456C2.732 3.51 1.25 5.992 1.25 9.318h1.5ZM15.51 19.96c1.493-1.211 3.281-2.834 4.703-4.647 1.407-1.794 2.537-3.879 2.537-5.997h-1.5c0 1.612-.88 3.364-2.218 5.071-1.324 1.689-3.016 3.232-4.466 4.408l.945 1.165Zm7.24-10.644c0-3.325-1.482-5.807-3.79-6.71-2.31-.905-5.12-.1-7.508 2.455l1.096 1.024c2.112-2.258 4.301-2.696 5.866-2.083 1.568.614 2.836 2.41 2.836 5.314h1.5ZM8.49 19.961c1.27 1.032 2.152 1.789 3.51 1.789v-1.5c-.723 0-1.173-.324-2.566-1.454l-.945 1.165Zm6.076-1.165c-1.393 1.13-1.843 1.454-2.566 1.454v1.5c1.358 0 2.24-.757 3.51-1.789l-.944-1.165Z"
            opacity=".5" />
          <path stroke="#fefefe" stroke-linecap="round" stroke-width="1.5" d="M18.5 9h-2m0 0h-2m2 0V7m0 2v2" />
        </svg>
        <p>{{page.bullet-point-3}}</p>
      </div>
    </div>
  </div>
</header>
{% endcase %}