---
layout: main
lang: es
ref: home
title: "Clínica de Medicina Estética en Bogotá | Dr. Tatiana Leal"
description: "Centro de Medicina Estética Dra. Tatiana. Especialistas de Bogotá en rejuvenecimiento facial y corporal. ¡+3.500 procedimientos exitosos!"
h1: "Especialistas en medicina estética corporal, facial e íntima en Colombia"
subtitle: "Dra. Tatiana Leal Sandoval"
canonical_url: "https://dratatianaleal.com/es/"
--- 
<section class="block_section">
  <small class="block_section_header">Nuestro centro de medicina estética</small>
  <h2 class="block_section_title">¿Por qué elegir nuestro centro de medicina estética?</h2>
  <p class="block_section_content">
    En Tatiana Leal Medicina Estética y Láser, somos un grupo de profesionales preparados para ofrecer altos estándares de calidad en tratamientos tanto faciales como corporales, para mejorar la apariencia física y la calidad de vida de nuestros pacientes. Nuestro objetivo principal: resaltar la belleza de nuestros pacientes, cuidando su salud.
    <a href="#" class="boton boton_auxiliar">Conoce nuestro equipo</a>
  </p>
  <img class="block_section_image_left" loading="lazy" title="Doctora Tatiana Leal en su consultorio" src="{{'img/tatiana-leal-medicina-laser-1024.avif' | relative_url}}" alt="Consultorio de la doctora Tatiana Leal en Bogotá" decoding="async" width="656" height="656">
  <div class="block_section_knowledge flow padding">
    <h3>Conocimientos</h3>
    <p>Nuestra directora, la Doctora Tatiana Leal, especialista en Medicina Estética y Láser de la Universidad del Rosario, cuenta con el soporte científico y practica la medicina estética desde el 2009.</p>
    <h3>A la vanguardia</h3>
    <p>Además, se encuentra en constante actualización académica, para brindar las últimas tendencias mundiales en tratamientos faciales y corporales.</p>
  </div>
  <img class="block_section_image_right" loading="eager" title="Doctora Tatiana Leal en su consultorio" src="{{'img/tatiana-leal-doctora-708.avif' | relative_url}}" alt="Consultorio de la doctora Tatiana Leal en Bogotá" decoding="async" width="640" height="1056">
</section>
<main class="padding flow">
  <div class="intro flow">
    <small>Tratamientos y procedimientos estéticos</small>
    <h2>Haz tu tratamiento profesional en el centro de medicina estética de Tatiana Leal</h2>
    {% include boton.html %}
  </div>
  <h3>Tratamientos corporales</h3>
  <p>Los tratamientos estéticos corporales reductores, tonificadores, para venitas, etc; son tratamientos realizados con la más alta tecnología disponible en toda Colombia. La encuentras en el <strong>Centro de Medicina Estéticia Dra. Tatiana Leal</strong>.</p>
  {% include gallery.html data_file="tratamientos_home" row="primera-fila" %}
  <h3>Tratamientos faciales</h3>
  <p>Rejuvenece con nuestros tratamientos faciales no invasivos en Bogotá. Rejuvenecimiento láser, biorevitalización, rellenos y más. Resultados naturales garantizados por el equipo de la Doctora Tatiana Leal.</p>
  {% include gallery.html data_file="tratamientos_home" row="segunda-fila" %}
  <h3>Tratamientos íntimos</h3>
  <p>Tu zona íntima también necesita tratamientos para su salud y belleza. Tú puedes proteger y mejorar tu confianza con procedimientos no invasivos ni dolorosos, todos realizados con el <strong>equipo profesional de la Dra. Tatiana Leal</strong>.</p>
  {% include gallery.html data_file="tratamientos_home" row="tercera-fila" %}
</main> 
<section class="bloque_doble seccion padding">
  <div class="cta">
    <div class="video-container">
      <div class="video-placeholder" data-video-id="HbCCaNRu1Hk">
        <img src="https://img.youtube.com/vi/HbCCaNRu1Hk/maxresdefault.jpg" alt="Video thumbnail" class="thumbnail">
        <button class="play-button">
          <svg class="play-icon" viewBox="0 0 24 24">
            <path d="M8 5v14l11-7z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="intro">
    <small>Seguridad y tranquilidad para ti</small>
    <h2>Haz tu tratamiento estético en el centro de medicina de la doctora Tatiana Leal</h2>
    <p>Todos los tratamientos que realizamos se encuentran bajo los estándares de la medicina estética y son realizados por profesionales especializados. La belleza y salud del paciente es nuestro principal objetivo.</p>
    {% include boton.html %}
  </div>
</section>
<section class="bloque_doble padding">
  <div class="flow">
    <small>Contacta con nosotros</small>
    <h2>Visita nuestro centro de medicina estética</h2>
    <p>Nos encantaría resolver tus dudas y atender tus solicitudes. <strong>Escríbenos, visítanos o llámanos. Aquí tienes los datos de nuestro centro estético</strong> :</p>
    <ul>
      <li><b>Dirección:</b> {{site.direccion}}.</li>
      <li><b>Nuestro correo:</b> {{site.email}}</li>
    </ul>
    {% include boton.html %}
    <a href="tel:{{site.telefono}}" class="boton boton_auxiliar" id="lead_whatsapp" title="Teléfono Tatiana Leal">Llámanos: {{site.telefono}}</a>
  </div>
  <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15905.689668573152!2d-74.0692314!3d4.6964387!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9adb267cf905%3A0x16bf4f9ee9fe9b6f!2sDra.%20Tatiana%20Leal!5e0!3m2!1ses-419!2sco!4v1726440307122!5m2!1ses-419!2sco" width="100%" height="100%" style="border:0; border-radius: 20px; box-shadow: var(--shadow);" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>