/* Root Variables */
:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Montserrat", sans-serif;
  --shadow: 0px 2px 16px rgba(0, 0, 0, 0.42);
  --border-radius: 16px;
  --border-radius-imgs: 24px;
  
  /* Primary Colors */
  --accion: #7f6d3f;
  --primary: #ccaf66;
  --secundary: #fde9c4;
  --background-light: #fff6e0;
  --crystal-clear: #fffcf3;
  --dark: #fefefe;
  --neutral-gray-dark: #c8c8c8;
  --color-gray: #a3a3a3;
  --color-gray-light: #e0e0df;

  /* Background & Borders */
  --background: #f9f9f9;
  --border-color: rgba(255, 255, 255, 0.1);
  --text-light: #fff;
  --text-dark: #221e1f;
  --bg-white: #fefefe;
  --shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  --banner-height: 40px;
  --header-height: 90px;

  /* Font sizes */
  --font-size-h1: clamp(2.5rem, 2.208rem + 1.46vw, 3.375rem);
  --font-size-h2: clamp(2.25rem, 2rem + 1.25vw, 3rem);
  --font-size-h3: clamp(1.75rem, 1.667rem + 0.42vw, 2rem);
  --font-size-h4: clamp(1.375rem, 1.25rem + 0.63vw, 1.75rem);
  --font-size-h5: clamp(1.25rem, 1.167rem + 0.42vw, 1.5rem);
  --font-size-p: clamp(1.125rem, 1.083rem + 0.21vw, 1.25rem);

  --line-height: 1.2;
  --padding: clamp(1rem, 2vw, 16px);
}

/* Reseteo y configuración básica */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.6;
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5{
  line-height: var(--line-height);
  text-transform: none;
  max-width: 26ch;
}

h1 {
  font-size: var(--font-size-h1);
}

h2{
  color: var(--primary);
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
  color: var(--color-gray);
}

h4 {
  font-size: var(--font-size-h4);
}

h5{
  font-size: var(--font-size-h5);
}

p,
li{
  font-size: var(--font-size-p);
  width: min(100%, 70ch);
  margin-bottom: 1rem;
}

li {
  margin-left: 2em;
}

ol li {
  margin-left: 3em;
  list-style: decimal;
}

::marker {
  font-size: 2rem;
  color: var(--background);
}

a{
  text-decoration: none;
  color: var(--accion);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-weight: 700;

  &:hover{
    text-decoration: underline;
    text-decoration-thickness: 2.4px;
    text-underline-offset: 0.4em;
    color: var(--primary);
  }
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-imgs);
}

hr {
  border: none;
  height: 0.2rem;
  background-image: linear-gradient(to right, #fff 50%, transparent 50%);
  background-size: 40px 3px;
  width: 100%;
  margin: 2rem auto;
  opacity: 0.5;
}

table {
  width: 100%;
  margin: 2em 0 4em;
}

table tr {
  border-bottom: 2px dotted var(--color-gray-light);
  display: flex;
  padding: 24px;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
}

table tr:nth-child(even) {
  background-color: var(--color-gray-light);
}

table th {
  font-weight: 900;
}

table td,
table th {
  flex: 1 0 200px;
}


/* Responsive Wrapper */
.wrapper {
  padding: 8em 0;
  width: min(calc(100% - 2rem), 1280px);
  margin-inline: auto;
}

/* Flow Utility for Spacing */
.flow > * + * {
  margin-top: 1.5em;
}

/* Two Columns Layout */
.two_columns {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}

.two_columns > div,
.two_columns figure {
  flex: 1 0 400px;
  max-width: 100%;
}
/* 
.two_columns img {
  height: auto;
} */

.two_columns-image {
  line-height: 0;
}

.two_columns_left {
  flex-direction: row-reverse;
}

/* Three Columns Layout */
.three_columns {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8em 0 4em;
  
  & > div {
    position: relative;
    width: min(100%, 376px);
    display: grid;
    place-items: center;
    overflow: hidden;
  }
}

/* WhatsApp Button */
.boton-whatsapp {
  position: fixed;
  bottom: 8rem;
  right: 12px;
  z-index: 100;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s 6 alternate-reverse both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s 6 alternate-reverse both;
  transition: all .2s ease-in-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
}

.boton-whatsapp:hover {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(190, 190, 190, .7));
  filter: drop-shadow(5px 5px 5px rgba(190, 190, 190, .7));
  transform: scale(1.05);
}

/* Keyframes for the animation */
@-webkit-keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}


/* scroll top */
.boton-up {
  position: fixed;
  right: 15px;
  bottom: 48px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: all 300ms ease-in;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
}

.boton-up.visible {
  opacity: 1;
  visibility: visible;
}

.boton-up:hover {
  transform: scale(1.1);
}

/* Asegurarse de que el icono sea blanco */
.boton-up svg {
  color: white;
}

/* Seccion con fondo full width */
.bg_full {
  background-color: var(--crystal-clear);
    box-shadow: 0 0 0 100vmax var(--crystal-clear);
    -webkit-clip-path: inset(0 -100vmax);
            clip-path: inset(0 -100vmax);
}