@media (max-width: 480px) {
.bg-section > div {
  width: 100%;
}
}

@media (max-width: 768px) {
  
  .hero-banner {
    min-height: 95dvh;
    padding-top: 15em;
  }
  
  .banner-layer-1 {
    background-image: url('/assets/images/banner-home-ivlu-phone.avif');
  }

  .banner-layer-3 {
    background-image: url('/assets/images/banner-home-ivlu-3-phone.avif');
  }
  
  .hero_blog {
    background-image: url("/assets/images/equipo-ivlu-bogota-phone.avif");
  }

  .hero_nosotros {
    background-image: url("../images/equipo-de-doctoras-de-ivlu-phone.avif");
  }
  .post-content{
    display: grid;
    place-content: center;
    place-items: center;
  }
  .testimonial-slide {
    padding: 1.5rem;
  }
}
