@media (max-width: 480px) {
.bg-section > div {
  width: 100%;
}
}

@media (max-width: 768px) {

  .post-content{
    display: grid;
    place-content: center;
    place-items: center;
  }
  .testimonial-slide {
    padding: 1.5rem;
  }
}